.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  color: crimson;
  font-weight: 700;
  gap: 20px;
}

.loader h1 {
  font-size: 32px;
  animation: loader 1s infinite alternate;
}
.loader span {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border-top: 2px crimson solid;
  border-bottom: 2px crimson solid;
  animation: span 1s infinite linear, loader 1s infinite alternate;
}
@keyframes loader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}

@keyframes span {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
